/*

Tags

	Creates 'tags' for things like categories or maybe a 'SALE' tag.
	Use with _colors.scss color classes e.g 'pill c-light-blue'.
	Default tags are blue.

*/

.Tag {
	position: relative;
	top: -.1em;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	font-size: $t-0;
	border-radius: 20px;
	padding: 0.25rem 0.75rem;
	width: auto;
}

.Tag,
.Tag--blue {
	background: $blue-3;
	color: $white;
}

.Tag--red {
	background: $red-3;
	color: $white;
}

.Tag--teal {
	background: $teal-3;
	color: $white;
}

.Tag--yellow {
	background: $yellow-3;
	color: $yellow-5;
}

.Tag--orange {
	background: $orange-3;
	color: $white;
}

.Tag--square {
	border-radius: 0;
}
