/*

	Borders

	Base:
	.border is the default class that adds a basic solid border of 1px
	with its color inherited from text color property unless overridden
	by a color modifier.

	e.g.
	<div class="border t-red"></div> creates border: 1px solid $red
	<div class="border border-white t-red"></div> creates border: 1px solid $white

*/

// default
.border {@extend .border-1; @extend .border-solid;}

// directions
.border-top {@extend .border-top-1; @extend .border-top-solid;}
.border-bottom {@extend .border-bottom-1; @extend .border-bottom-solid;}
.border-left {@extend .border-left-1; @extend .border-left-solid;}
.border-right {@extend .border-right-1; @extend .border-right-solid;}

// styles
.border-solid {border-style: solid}
.border-top-solid {border-top-style: solid}
.border-bottom-solid {border-bottom-style: solid}
.border-left-solid {border-left-style: solid}
.border-right-solid {border-right-style: solid}

.border-dashed {border-style: dashed}
.border-top-dashed {border-top-style: dashed}
.border-bottom-dashed {border-bottom-style: dashed}
.border-left-dashed {border-left-style: dashed}
.border-right-dashed {border-right-style: dashed}

.border-dotted {border-style: dotted}
.border-top-dotted {border-top-style: dotted}
.border-bottom-dotted {border-bottom-style: dotted}
.border-left-dotted {border-left-style: dotted}
.border-right-dotted {border-right-style: dotted}

// widths
// zero widths to override an element with default styling
// like an input, or to cancel individual border directions
.border-none, .border-0 {border-width: 0; border-style: none}
.border-top-none, .border-top-0 {border-top-width: 0; border-top-style: none}
.border-bottom-none, .border-bottom-0 {border-bottom-width: 0; border-bottom-style: none}
.border-left-none, .border-left-0 {border-left-width: 0; border-left-style: none}
.border-right-none, .border-right-0 {border-right-width: 0; border-right-style: none}

.border-1 {border-width: $border-size-1}
.border-top-1 {border-top-width: $border-size-1}
.border-bottom-1 {border-bottom-width: $border-size-1}
.border-left-1 {border-left-width: $border-size-1}
.border-right-1 {border-right-width: $border-size-1}

.border-2 {border-width: $border-size-2}
.border-top-2 {border-top-width: $border-size-2}
.border-bottom-2 {border-bottom-width: $border-size-2}
.border-left-2 {border-left-width: $border-size-2}
.border-right-2 {border-right-width: $border-size-2}

// colors
.border-black {border-color: $black}
.border-white {border-color: $white}

.border-blue-1 {border-color: $blue-1}
.border-blue-3 {border-color: $blue-3}
.border-blue-5 {border-color: $blue-5}

.border-red-1 {border-color: $red-1}
.border-red-3 {border-color: $red-3}
.border-red-5 {border-color: $red-5}

.border-gray-1 {border-color: $gray-1}
.border-gray-2 {border-color: $gray-2}
.border-gray-3 {border-color: $gray-3}
.border-gray-4 {border-color: $gray-4}
.border-gray-5 {border-color: $gray-5}

// border radius
.border-radius {border-radius: 3px !important}

.border-radius-top {border-radius: 3px 3px 0 0 !important;}
.border-radius-right {border-radius: 0 3px 3px 0 !important;}
.border-radius-bottom {border-radius: 0 0 3px 3px !important;}
.border-radius-left {border-radius: 3px 0 0 3px !important;}

.border-radius-top-left {border-radius: 3px 0 0 0 !important;}
.border-radius-top-right {border-radius: 0 3px 0 0 !important;}
.border-radius-bottom-right {border-radius: 0 0 3px 0 !important;}
.border-radius-bottom-left {border-radius: 0 0 0 3px !important;}
