.m-0 { margin: 0 !important; }
.m-half { margin: 0.25rem !important; }
.m-auto { margin: auto !important; }
.m-1 { margin: 0.5rem !important; }
.m-2 { margin: 1rem !important; }
.m-3 { margin: 1.5rem !important; }
.m-4 { margin: 2rem !important; }
.m-5 { margin: 2.5rem !important; }
.m-6 { margin: 3rem !important; }
.m-7 { margin: 3.5rem !important; }
.m-8 { margin: 4rem !important; }
.m-9 { margin: 4.5rem !important; }
.m-10 { margin: 5rem !important; }
.m-11 { margin: 5.5rem !important; }
.m-12 { margin: 6rem !important; }
.m-13 { margin: 6.5rem !important; }
.m-14 { margin: 7rem !important; }
.m-15 { margin: 7.5rem !important; }
.m-16 { margin: 8rem !important; }

@media screen and (min-width: 750px) { .m-1__m { margin: 0.5rem !important; }
	.m-2__m { margin: 1rem !important; }
	.m-3__m { margin: 1.5rem !important; }
	.m-4__m { margin: 2rem !important; }
	.m-5__m { margin: 2.5rem !important; }
	.m-6__m { margin: 3rem !important; }
	.m-7__m { margin: 3.5rem !important; }
	.m-8__m { margin: 4rem !important; }
	.m-9__m { margin: 4.5rem !important; }
	.m-10__m { margin: 5rem !important; }
	.m-11__m { margin: 5.5rem !important; }
	.m-12__m { margin: 6rem !important; }
	.m-13__m { margin: 6.5rem !important; }
	.m-14__m { margin: 7rem !important; }
	.m-15__m { margin: 7.5rem !important; }
	.m-16__m { margin: 8rem !important; }
	.m-0__m { margin: 0 !important; }
	.m-half__m { margin: 0.25rem !important; }
	.m-auto__m { margin: auto !important; } }

@media screen and (min-width: 1050px) { .m-1__l { margin: 0.5rem !important; }
	.m-2__l { margin: 1rem !important; }
	.m-3__l { margin: 1.5rem !important; }
	.m-4__l { margin: 2rem !important; }
	.m-5__l { margin: 2.5rem !important; }
	.m-6__l { margin: 3rem !important; }
	.m-7__l { margin: 3.5rem !important; }
	.m-8__l { margin: 4rem !important; }
	.m-9__l { margin: 4.5rem !important; }
	.m-10__l { margin: 5rem !important; }
	.m-11__l { margin: 5.5rem !important; }
	.m-12__l { margin: 6rem !important; }
	.m-13__l { margin: 6.5rem !important; }
	.m-14__l { margin: 7rem !important; }
	.m-15__l { margin: 7.5rem !important; }
	.m-16__l { margin: 8rem !important; }
	.m-0__l { margin: 0 !important; }
	.m-half__l { margin: 0.25rem !important; }
	.m-auto__l { margin: auto !important; } }

.p-0 { padding: 0 !important; }
.p-half { padding: 0.25rem !important; }
.p-auto { padding: auto !important; }
.p-1 { padding: 0.5rem !important; }
.p-2 { padding: 1rem !important; }
.p-3 { padding: 1.5rem !important; }
.p-4 { padding: 2rem !important; }
.p-5 { padding: 2.5rem !important; }
.p-6 { padding: 3rem !important; }
.p-7 { padding: 3.5rem !important; }
.p-8 { padding: 4rem !important; }
.p-9 { padding: 4.5rem !important; }
.p-10 { padding: 5rem !important; }
.p-11 { padding: 5.5rem !important; }
.p-12 { padding: 6rem !important; }
.p-13 { padding: 6.5rem !important; }
.p-14 { padding: 7rem !important; }
.p-15 { padding: 7.5rem !important; }
.p-16 { padding: 8rem !important; }

@media screen and (min-width: 750px) { .p-1__m { padding: 0.5rem !important; }
	.p-2__m { padding: 1rem !important; }
	.p-3__m { padding: 1.5rem !important; }
	.p-4__m { padding: 2rem !important; }
	.p-5__m { padding: 2.5rem !important; }
	.p-6__m { padding: 3rem !important; }
	.p-7__m { padding: 3.5rem !important; }
	.p-8__m { padding: 4rem !important; }
	.p-9__m { padding: 4.5rem !important; }
	.p-10__m { padding: 5rem !important; }
	.p-11__m { padding: 5.5rem !important; }
	.p-12__m { padding: 6rem !important; }
	.p-13__m { padding: 6.5rem !important; }
	.p-14__m { padding: 7rem !important; }
	.p-15__m { padding: 7.5rem !important; }
	.p-16__m { padding: 8rem !important; }
	.p-0__m { padding: 0 !important; }
	.p-half__m { padding: 0.25rem !important; }
	.p-auto__m { padding: auto !important; } }

@media screen and (min-width: 1050px) { .p-1__l { padding: 0.5rem !important; }
	.p-2__l { padding: 1rem !important; }
	.p-3__l { padding: 1.5rem !important; }
	.p-4__l { padding: 2rem !important; }
	.p-5__l { padding: 2.5rem !important; }
	.p-6__l { padding: 3rem !important; }
	.p-7__l { padding: 3.5rem !important; }
	.p-8__l { padding: 4rem !important; }
	.p-9__l { padding: 4.5rem !important; }
	.p-10__l { padding: 5rem !important; }
	.p-11__l { padding: 5.5rem !important; }
	.p-12__l { padding: 6rem !important; }
	.p-13__l { padding: 6.5rem !important; }
	.p-14__l { padding: 7rem !important; }
	.p-15__l { padding: 7.5rem !important; }
	.p-16__l { padding: 8rem !important; }
	.p-0__l { padding: 0 !important; }
	.p-half__l { padding: 0.25rem !important; }
	.p-auto__l { padding: auto !important; } }

.m-top-0, .Alert__heading { margin-top: 0 !important; }
.m-top-half { margin-top: 0.25rem !important; }
.m-top-auto { margin-top: auto !important; }
.m-top-1 { margin-top: 0.5rem !important; }
.m-top-2 { margin-top: 1rem !important; }
.m-top-3 { margin-top: 1.5rem !important; }
.m-top-4 { margin-top: 2rem !important; }
.m-top-5 { margin-top: 2.5rem !important; }
.m-top-6 { margin-top: 3rem !important; }
.m-top-7 { margin-top: 3.5rem !important; }
.m-top-8 { margin-top: 4rem !important; }
.m-top-9 { margin-top: 4.5rem !important; }
.m-top-10 { margin-top: 5rem !important; }
.m-top-11 { margin-top: 5.5rem !important; }
.m-top-12 { margin-top: 6rem !important; }
.m-top-13 { margin-top: 6.5rem !important; }
.m-top-14 { margin-top: 7rem !important; }
.m-top-15 { margin-top: 7.5rem !important; }
.m-top-16 { margin-top: 8rem !important; }

@media screen and (min-width: 750px) { .m-top-1__m { margin-top: 0.5rem !important; }
	.m-top-2__m { margin-top: 1rem !important; }
	.m-top-3__m { margin-top: 1.5rem !important; }
	.m-top-4__m { margin-top: 2rem !important; }
	.m-top-5__m { margin-top: 2.5rem !important; }
	.m-top-6__m { margin-top: 3rem !important; }
	.m-top-7__m { margin-top: 3.5rem !important; }
	.m-top-8__m { margin-top: 4rem !important; }
	.m-top-9__m { margin-top: 4.5rem !important; }
	.m-top-10__m { margin-top: 5rem !important; }
	.m-top-11__m { margin-top: 5.5rem !important; }
	.m-top-12__m { margin-top: 6rem !important; }
	.m-top-13__m { margin-top: 6.5rem !important; }
	.m-top-14__m { margin-top: 7rem !important; }
	.m-top-15__m { margin-top: 7.5rem !important; }
	.m-top-16__m { margin-top: 8rem !important; }
	.m-top-0__m { margin-top: 0 !important; }
	.m-top-half__m { margin-top: 0.25rem !important; }
	.m-top-auto__m { margin-top: auto !important; } }

@media screen and (min-width: 1050px) { .m-top-1__l { margin-top: 0.5rem !important; }
	.m-top-2__l { margin-top: 1rem !important; }
	.m-top-3__l { margin-top: 1.5rem !important; }
	.m-top-4__l { margin-top: 2rem !important; }
	.m-top-5__l { margin-top: 2.5rem !important; }
	.m-top-6__l { margin-top: 3rem !important; }
	.m-top-7__l { margin-top: 3.5rem !important; }
	.m-top-8__l { margin-top: 4rem !important; }
	.m-top-9__l { margin-top: 4.5rem !important; }
	.m-top-10__l { margin-top: 5rem !important; }
	.m-top-11__l { margin-top: 5.5rem !important; }
	.m-top-12__l { margin-top: 6rem !important; }
	.m-top-13__l { margin-top: 6.5rem !important; }
	.m-top-14__l { margin-top: 7rem !important; }
	.m-top-15__l { margin-top: 7.5rem !important; }
	.m-top-16__l { margin-top: 8rem !important; }
	.m-top-0__l { margin-top: 0 !important; }
	.m-top-half__l { margin-top: 0.25rem !important; }
	.m-top-auto__l { margin-top: auto !important; } }

.p-top-0 { padding-top: 0 !important; }
.p-top-half { padding-top: 0.25rem !important; }
.p-top-auto { padding-top: auto !important; }
.p-top-1 { padding-top: 0.5rem !important; }
.p-top-2 { padding-top: 1rem !important; }
.p-top-3 { padding-top: 1.5rem !important; }
.p-top-4 { padding-top: 2rem !important; }
.p-top-5 { padding-top: 2.5rem !important; }
.p-top-6 { padding-top: 3rem !important; }
.p-top-7 { padding-top: 3.5rem !important; }
.p-top-8 { padding-top: 4rem !important; }
.p-top-9 { padding-top: 4.5rem !important; }
.p-top-10 { padding-top: 5rem !important; }
.p-top-11 { padding-top: 5.5rem !important; }
.p-top-12 { padding-top: 6rem !important; }
.p-top-13 { padding-top: 6.5rem !important; }
.p-top-14 { padding-top: 7rem !important; }
.p-top-15 { padding-top: 7.5rem !important; }
.p-top-16 { padding-top: 8rem !important; }

@media screen and (min-width: 750px) { .p-top-1__m { padding-top: 0.5rem !important; }
	.p-top-2__m { padding-top: 1rem !important; }
	.p-top-3__m { padding-top: 1.5rem !important; }
	.p-top-4__m { padding-top: 2rem !important; }
	.p-top-5__m { padding-top: 2.5rem !important; }
	.p-top-6__m { padding-top: 3rem !important; }
	.p-top-7__m { padding-top: 3.5rem !important; }
	.p-top-8__m { padding-top: 4rem !important; }
	.p-top-9__m { padding-top: 4.5rem !important; }
	.p-top-10__m { padding-top: 5rem !important; }
	.p-top-11__m { padding-top: 5.5rem !important; }
	.p-top-12__m { padding-top: 6rem !important; }
	.p-top-13__m { padding-top: 6.5rem !important; }
	.p-top-14__m { padding-top: 7rem !important; }
	.p-top-15__m { padding-top: 7.5rem !important; }
	.p-top-16__m { padding-top: 8rem !important; }
	.p-top-0__m { padding-top: 0 !important; }
	.p-top-half__m { padding-top: 0.25rem !important; }
	.p-top-auto__m { padding-top: auto !important; } }

@media screen and (min-width: 1050px) { .p-top-1__l { padding-top: 0.5rem !important; }
	.p-top-2__l { padding-top: 1rem !important; }
	.p-top-3__l { padding-top: 1.5rem !important; }
	.p-top-4__l { padding-top: 2rem !important; }
	.p-top-5__l { padding-top: 2.5rem !important; }
	.p-top-6__l { padding-top: 3rem !important; }
	.p-top-7__l { padding-top: 3.5rem !important; }
	.p-top-8__l { padding-top: 4rem !important; }
	.p-top-9__l { padding-top: 4.5rem !important; }
	.p-top-10__l { padding-top: 5rem !important; }
	.p-top-11__l { padding-top: 5.5rem !important; }
	.p-top-12__l { padding-top: 6rem !important; }
	.p-top-13__l { padding-top: 6.5rem !important; }
	.p-top-14__l { padding-top: 7rem !important; }
	.p-top-15__l { padding-top: 7.5rem !important; }
	.p-top-16__l { padding-top: 8rem !important; }
	.p-top-0__l { padding-top: 0 !important; }
	.p-top-half__l { padding-top: 0.25rem !important; }
	.p-top-auto__l { padding-top: auto !important; } }

.m-right-0 { margin-right: 0 !important; }
.m-right-half { margin-right: 0.25rem !important; }
.m-right-auto { margin-right: auto !important; }
.m-right-1 { margin-right: 0.5rem !important; }
.m-right-2 { margin-right: 1rem !important; }
.m-right-3 { margin-right: 1.5rem !important; }
.m-right-4 { margin-right: 2rem !important; }
.m-right-5 { margin-right: 2.5rem !important; }
.m-right-6 { margin-right: 3rem !important; }
.m-right-7 { margin-right: 3.5rem !important; }
.m-right-8 { margin-right: 4rem !important; }
.m-right-9 { margin-right: 4.5rem !important; }
.m-right-10 { margin-right: 5rem !important; }
.m-right-11 { margin-right: 5.5rem !important; }
.m-right-12 { margin-right: 6rem !important; }
.m-right-13 { margin-right: 6.5rem !important; }
.m-right-14 { margin-right: 7rem !important; }
.m-right-15 { margin-right: 7.5rem !important; }
.m-right-16 { margin-right: 8rem !important; }

@media screen and (min-width: 750px) { .m-right-1__m { margin-right: 0.5rem !important; }
	.m-right-2__m { margin-right: 1rem !important; }
	.m-right-3__m { margin-right: 1.5rem !important; }
	.m-right-4__m { margin-right: 2rem !important; }
	.m-right-5__m { margin-right: 2.5rem !important; }
	.m-right-6__m { margin-right: 3rem !important; }
	.m-right-7__m { margin-right: 3.5rem !important; }
	.m-right-8__m { margin-right: 4rem !important; }
	.m-right-9__m { margin-right: 4.5rem !important; }
	.m-right-10__m { margin-right: 5rem !important; }
	.m-right-11__m { margin-right: 5.5rem !important; }
	.m-right-12__m { margin-right: 6rem !important; }
	.m-right-13__m { margin-right: 6.5rem !important; }
	.m-right-14__m { margin-right: 7rem !important; }
	.m-right-15__m { margin-right: 7.5rem !important; }
	.m-right-16__m { margin-right: 8rem !important; }
	.m-right-0__m { margin-right: 0 !important; }
	.m-right-half__m { margin-right: 0.25rem !important; }
	.m-right-auto__m { margin-right: auto !important; } }

@media screen and (min-width: 1050px) { .m-right-1__l { margin-right: 0.5rem !important; }
	.m-right-2__l { margin-right: 1rem !important; }
	.m-right-3__l { margin-right: 1.5rem !important; }
	.m-right-4__l { margin-right: 2rem !important; }
	.m-right-5__l { margin-right: 2.5rem !important; }
	.m-right-6__l { margin-right: 3rem !important; }
	.m-right-7__l { margin-right: 3.5rem !important; }
	.m-right-8__l { margin-right: 4rem !important; }
	.m-right-9__l { margin-right: 4.5rem !important; }
	.m-right-10__l { margin-right: 5rem !important; }
	.m-right-11__l { margin-right: 5.5rem !important; }
	.m-right-12__l { margin-right: 6rem !important; }
	.m-right-13__l { margin-right: 6.5rem !important; }
	.m-right-14__l { margin-right: 7rem !important; }
	.m-right-15__l { margin-right: 7.5rem !important; }
	.m-right-16__l { margin-right: 8rem !important; }
	.m-right-0__l { margin-right: 0 !important; }
	.m-right-half__l { margin-right: 0.25rem !important; }
	.m-right-auto__l { margin-right: auto !important; } }

.p-right-0 { padding-right: 0 !important; }
.p-right-half { padding-right: 0.25rem !important; }
.p-right-auto { padding-right: auto !important; }
.p-right-1 { padding-right: 0.5rem !important; }
.p-right-2 { padding-right: 1rem !important; }
.p-right-3 { padding-right: 1.5rem !important; }
.p-right-4 { padding-right: 2rem !important; }
.p-right-5 { padding-right: 2.5rem !important; }
.p-right-6 { padding-right: 3rem !important; }
.p-right-7 { padding-right: 3.5rem !important; }
.p-right-8 { padding-right: 4rem !important; }
.p-right-9 { padding-right: 4.5rem !important; }
.p-right-10 { padding-right: 5rem !important; }
.p-right-11 { padding-right: 5.5rem !important; }
.p-right-12 { padding-right: 6rem !important; }
.p-right-13 { padding-right: 6.5rem !important; }
.p-right-14 { padding-right: 7rem !important; }
.p-right-15 { padding-right: 7.5rem !important; }
.p-right-16 { padding-right: 8rem !important; }

@media screen and (min-width: 750px) { .p-right-1__m { padding-right: 0.5rem !important; }
	.p-right-2__m { padding-right: 1rem !important; }
	.p-right-3__m { padding-right: 1.5rem !important; }
	.p-right-4__m { padding-right: 2rem !important; }
	.p-right-5__m { padding-right: 2.5rem !important; }
	.p-right-6__m { padding-right: 3rem !important; }
	.p-right-7__m { padding-right: 3.5rem !important; }
	.p-right-8__m { padding-right: 4rem !important; }
	.p-right-9__m { padding-right: 4.5rem !important; }
	.p-right-10__m { padding-right: 5rem !important; }
	.p-right-11__m { padding-right: 5.5rem !important; }
	.p-right-12__m { padding-right: 6rem !important; }
	.p-right-13__m { padding-right: 6.5rem !important; }
	.p-right-14__m { padding-right: 7rem !important; }
	.p-right-15__m { padding-right: 7.5rem !important; }
	.p-right-16__m { padding-right: 8rem !important; }
	.p-right-0__m { padding-right: 0 !important; }
	.p-right-half__m { padding-right: 0.25rem !important; }
	.p-right-auto__m { padding-right: auto !important; } }

@media screen and (min-width: 1050px) { .p-right-1__l { padding-right: 0.5rem !important; }
	.p-right-2__l { padding-right: 1rem !important; }
	.p-right-3__l { padding-right: 1.5rem !important; }
	.p-right-4__l { padding-right: 2rem !important; }
	.p-right-5__l { padding-right: 2.5rem !important; }
	.p-right-6__l { padding-right: 3rem !important; }
	.p-right-7__l { padding-right: 3.5rem !important; }
	.p-right-8__l { padding-right: 4rem !important; }
	.p-right-9__l { padding-right: 4.5rem !important; }
	.p-right-10__l { padding-right: 5rem !important; }
	.p-right-11__l { padding-right: 5.5rem !important; }
	.p-right-12__l { padding-right: 6rem !important; }
	.p-right-13__l { padding-right: 6.5rem !important; }
	.p-right-14__l { padding-right: 7rem !important; }
	.p-right-15__l { padding-right: 7.5rem !important; }
	.p-right-16__l { padding-right: 8rem !important; }
	.p-right-0__l { padding-right: 0 !important; }
	.p-right-half__l { padding-right: 0.25rem !important; }
	.p-right-auto__l { padding-right: auto !important; } }

.m-bottom-0, .Alert__heading { margin-bottom: 0 !important; }
.m-bottom-half { margin-bottom: 0.25rem !important; }
.m-bottom-auto { margin-bottom: auto !important; }
.m-bottom-1 { margin-bottom: 0.5rem !important; }
.m-bottom-2 { margin-bottom: 1rem !important; }
.m-bottom-3 { margin-bottom: 1.5rem !important; }
.m-bottom-4 { margin-bottom: 2rem !important; }
.m-bottom-5 { margin-bottom: 2.5rem !important; }
.m-bottom-6 { margin-bottom: 3rem !important; }
.m-bottom-7 { margin-bottom: 3.5rem !important; }
.m-bottom-8 { margin-bottom: 4rem !important; }
.m-bottom-9 { margin-bottom: 4.5rem !important; }
.m-bottom-10 { margin-bottom: 5rem !important; }
.m-bottom-11 { margin-bottom: 5.5rem !important; }
.m-bottom-12 { margin-bottom: 6rem !important; }
.m-bottom-13 { margin-bottom: 6.5rem !important; }
.m-bottom-14 { margin-bottom: 7rem !important; }
.m-bottom-15 { margin-bottom: 7.5rem !important; }
.m-bottom-16 { margin-bottom: 8rem !important; }

@media screen and (min-width: 750px) { .m-bottom-1__m { margin-bottom: 0.5rem !important; }
	.m-bottom-2__m { margin-bottom: 1rem !important; }
	.m-bottom-3__m { margin-bottom: 1.5rem !important; }
	.m-bottom-4__m { margin-bottom: 2rem !important; }
	.m-bottom-5__m { margin-bottom: 2.5rem !important; }
	.m-bottom-6__m { margin-bottom: 3rem !important; }
	.m-bottom-7__m { margin-bottom: 3.5rem !important; }
	.m-bottom-8__m { margin-bottom: 4rem !important; }
	.m-bottom-9__m { margin-bottom: 4.5rem !important; }
	.m-bottom-10__m { margin-bottom: 5rem !important; }
	.m-bottom-11__m { margin-bottom: 5.5rem !important; }
	.m-bottom-12__m { margin-bottom: 6rem !important; }
	.m-bottom-13__m { margin-bottom: 6.5rem !important; }
	.m-bottom-14__m { margin-bottom: 7rem !important; }
	.m-bottom-15__m { margin-bottom: 7.5rem !important; }
	.m-bottom-16__m { margin-bottom: 8rem !important; }
	.m-bottom-0__m { margin-bottom: 0 !important; }
	.m-bottom-half__m { margin-bottom: 0.25rem !important; }
	.m-bottom-auto__m { margin-bottom: auto !important; } }

@media screen and (min-width: 1050px) { .m-bottom-1__l { margin-bottom: 0.5rem !important; }
	.m-bottom-2__l { margin-bottom: 1rem !important; }
	.m-bottom-3__l { margin-bottom: 1.5rem !important; }
	.m-bottom-4__l { margin-bottom: 2rem !important; }
	.m-bottom-5__l { margin-bottom: 2.5rem !important; }
	.m-bottom-6__l { margin-bottom: 3rem !important; }
	.m-bottom-7__l { margin-bottom: 3.5rem !important; }
	.m-bottom-8__l { margin-bottom: 4rem !important; }
	.m-bottom-9__l { margin-bottom: 4.5rem !important; }
	.m-bottom-10__l { margin-bottom: 5rem !important; }
	.m-bottom-11__l { margin-bottom: 5.5rem !important; }
	.m-bottom-12__l { margin-bottom: 6rem !important; }
	.m-bottom-13__l { margin-bottom: 6.5rem !important; }
	.m-bottom-14__l { margin-bottom: 7rem !important; }
	.m-bottom-15__l { margin-bottom: 7.5rem !important; }
	.m-bottom-16__l { margin-bottom: 8rem !important; }
	.m-bottom-0__l { margin-bottom: 0 !important; }
	.m-bottom-half__l { margin-bottom: 0.25rem !important; }
	.m-bottom-auto__l { margin-bottom: auto !important; } }

.p-bottom-0 { padding-bottom: 0 !important; }
.p-bottom-half { padding-bottom: 0.25rem !important; }
.p-bottom-auto { padding-bottom: auto !important; }
.p-bottom-1 { padding-bottom: 0.5rem !important; }
.p-bottom-2 { padding-bottom: 1rem !important; }
.p-bottom-3 { padding-bottom: 1.5rem !important; }
.p-bottom-4 { padding-bottom: 2rem !important; }
.p-bottom-5 { padding-bottom: 2.5rem !important; }
.p-bottom-6 { padding-bottom: 3rem !important; }
.p-bottom-7 { padding-bottom: 3.5rem !important; }
.p-bottom-8 { padding-bottom: 4rem !important; }
.p-bottom-9 { padding-bottom: 4.5rem !important; }
.p-bottom-10 { padding-bottom: 5rem !important; }
.p-bottom-11 { padding-bottom: 5.5rem !important; }
.p-bottom-12 { padding-bottom: 6rem !important; }
.p-bottom-13 { padding-bottom: 6.5rem !important; }
.p-bottom-14 { padding-bottom: 7rem !important; }
.p-bottom-15 { padding-bottom: 7.5rem !important; }
.p-bottom-16 { padding-bottom: 8rem !important; }

@media screen and (min-width: 750px) { .p-bottom-1__m { padding-bottom: 0.5rem !important; }
	.p-bottom-2__m { padding-bottom: 1rem !important; }
	.p-bottom-3__m { padding-bottom: 1.5rem !important; }
	.p-bottom-4__m { padding-bottom: 2rem !important; }
	.p-bottom-5__m { padding-bottom: 2.5rem !important; }
	.p-bottom-6__m { padding-bottom: 3rem !important; }
	.p-bottom-7__m { padding-bottom: 3.5rem !important; }
	.p-bottom-8__m { padding-bottom: 4rem !important; }
	.p-bottom-9__m { padding-bottom: 4.5rem !important; }
	.p-bottom-10__m { padding-bottom: 5rem !important; }
	.p-bottom-11__m { padding-bottom: 5.5rem !important; }
	.p-bottom-12__m { padding-bottom: 6rem !important; }
	.p-bottom-13__m { padding-bottom: 6.5rem !important; }
	.p-bottom-14__m { padding-bottom: 7rem !important; }
	.p-bottom-15__m { padding-bottom: 7.5rem !important; }
	.p-bottom-16__m { padding-bottom: 8rem !important; }
	.p-bottom-0__m { padding-bottom: 0 !important; }
	.p-bottom-half__m { padding-bottom: 0.25rem !important; }
	.p-bottom-auto__m { padding-bottom: auto !important; } }

@media screen and (min-width: 1050px) { .p-bottom-1__l { padding-bottom: 0.5rem !important; }
	.p-bottom-2__l { padding-bottom: 1rem !important; }
	.p-bottom-3__l { padding-bottom: 1.5rem !important; }
	.p-bottom-4__l { padding-bottom: 2rem !important; }
	.p-bottom-5__l { padding-bottom: 2.5rem !important; }
	.p-bottom-6__l { padding-bottom: 3rem !important; }
	.p-bottom-7__l { padding-bottom: 3.5rem !important; }
	.p-bottom-8__l { padding-bottom: 4rem !important; }
	.p-bottom-9__l { padding-bottom: 4.5rem !important; }
	.p-bottom-10__l { padding-bottom: 5rem !important; }
	.p-bottom-11__l { padding-bottom: 5.5rem !important; }
	.p-bottom-12__l { padding-bottom: 6rem !important; }
	.p-bottom-13__l { padding-bottom: 6.5rem !important; }
	.p-bottom-14__l { padding-bottom: 7rem !important; }
	.p-bottom-15__l { padding-bottom: 7.5rem !important; }
	.p-bottom-16__l { padding-bottom: 8rem !important; }
	.p-bottom-0__l { padding-bottom: 0 !important; }
	.p-bottom-half__l { padding-bottom: 0.25rem !important; }
	.p-bottom-auto__l { padding-bottom: auto !important; } }

.m-left-0 { margin-left: 0 !important; }
.m-left-half { margin-left: 0.25rem !important; }
.m-left-auto { margin-left: auto !important; }
.m-left-1 { margin-left: 0.5rem !important; }
.m-left-2 { margin-left: 1rem !important; }
.m-left-3 { margin-left: 1.5rem !important; }
.m-left-4 { margin-left: 2rem !important; }
.m-left-5 { margin-left: 2.5rem !important; }
.m-left-6 { margin-left: 3rem !important; }
.m-left-7 { margin-left: 3.5rem !important; }
.m-left-8 { margin-left: 4rem !important; }
.m-left-9 { margin-left: 4.5rem !important; }
.m-left-10 { margin-left: 5rem !important; }
.m-left-11 { margin-left: 5.5rem !important; }
.m-left-12 { margin-left: 6rem !important; }
.m-left-13 { margin-left: 6.5rem !important; }
.m-left-14 { margin-left: 7rem !important; }
.m-left-15 { margin-left: 7.5rem !important; }
.m-left-16 { margin-left: 8rem !important; }

@media screen and (min-width: 750px) { .m-left-1__m { margin-left: 0.5rem !important; }
	.m-left-2__m { margin-left: 1rem !important; }
	.m-left-3__m { margin-left: 1.5rem !important; }
	.m-left-4__m { margin-left: 2rem !important; }
	.m-left-5__m { margin-left: 2.5rem !important; }
	.m-left-6__m { margin-left: 3rem !important; }
	.m-left-7__m { margin-left: 3.5rem !important; }
	.m-left-8__m { margin-left: 4rem !important; }
	.m-left-9__m { margin-left: 4.5rem !important; }
	.m-left-10__m { margin-left: 5rem !important; }
	.m-left-11__m { margin-left: 5.5rem !important; }
	.m-left-12__m { margin-left: 6rem !important; }
	.m-left-13__m { margin-left: 6.5rem !important; }
	.m-left-14__m { margin-left: 7rem !important; }
	.m-left-15__m { margin-left: 7.5rem !important; }
	.m-left-16__m { margin-left: 8rem !important; }
	.m-left-0__m { margin-left: 0 !important; }
	.m-left-half__m { margin-left: 0.25rem !important; }
	.m-left-auto__m { margin-left: auto !important; } }

@media screen and (min-width: 1050px) { .m-left-1__l { margin-left: 0.5rem !important; }
	.m-left-2__l { margin-left: 1rem !important; }
	.m-left-3__l { margin-left: 1.5rem !important; }
	.m-left-4__l { margin-left: 2rem !important; }
	.m-left-5__l { margin-left: 2.5rem !important; }
	.m-left-6__l { margin-left: 3rem !important; }
	.m-left-7__l { margin-left: 3.5rem !important; }
	.m-left-8__l { margin-left: 4rem !important; }
	.m-left-9__l { margin-left: 4.5rem !important; }
	.m-left-10__l { margin-left: 5rem !important; }
	.m-left-11__l { margin-left: 5.5rem !important; }
	.m-left-12__l { margin-left: 6rem !important; }
	.m-left-13__l { margin-left: 6.5rem !important; }
	.m-left-14__l { margin-left: 7rem !important; }
	.m-left-15__l { margin-left: 7.5rem !important; }
	.m-left-16__l { margin-left: 8rem !important; }
	.m-left-0__l { margin-left: 0 !important; }
	.m-left-half__l { margin-left: 0.25rem !important; }
	.m-left-auto__l { margin-left: auto !important; } }

.p-left-0 { padding-left: 0 !important; }
.p-left-half { padding-left: 0.25rem !important; }
.p-left-auto { padding-left: auto !important; }
.p-left-1 { padding-left: 0.5rem !important; }
.p-left-2 { padding-left: 1rem !important; }
.p-left-3 { padding-left: 1.5rem !important; }
.p-left-4 { padding-left: 2rem !important; }
.p-left-5 { padding-left: 2.5rem !important; }
.p-left-6 { padding-left: 3rem !important; }
.p-left-7 { padding-left: 3.5rem !important; }
.p-left-8 { padding-left: 4rem !important; }
.p-left-9 { padding-left: 4.5rem !important; }
.p-left-10 { padding-left: 5rem !important; }
.p-left-11 { padding-left: 5.5rem !important; }
.p-left-12 { padding-left: 6rem !important; }
.p-left-13 { padding-left: 6.5rem !important; }
.p-left-14 { padding-left: 7rem !important; }
.p-left-15 { padding-left: 7.5rem !important; }
.p-left-16 { padding-left: 8rem !important; }

@media screen and (min-width: 750px) { .p-left-1__m { padding-left: 0.5rem !important; }
	.p-left-2__m { padding-left: 1rem !important; }
	.p-left-3__m { padding-left: 1.5rem !important; }
	.p-left-4__m { padding-left: 2rem !important; }
	.p-left-5__m { padding-left: 2.5rem !important; }
	.p-left-6__m { padding-left: 3rem !important; }
	.p-left-7__m { padding-left: 3.5rem !important; }
	.p-left-8__m { padding-left: 4rem !important; }
	.p-left-9__m { padding-left: 4.5rem !important; }
	.p-left-10__m { padding-left: 5rem !important; }
	.p-left-11__m { padding-left: 5.5rem !important; }
	.p-left-12__m { padding-left: 6rem !important; }
	.p-left-13__m { padding-left: 6.5rem !important; }
	.p-left-14__m { padding-left: 7rem !important; }
	.p-left-15__m { padding-left: 7.5rem !important; }
	.p-left-16__m { padding-left: 8rem !important; }
	.p-left-0__m { padding-left: 0 !important; }
	.p-left-half__m { padding-left: 0.25rem !important; }
	.p-left-auto__m { padding-left: auto !important; } }

@media screen and (min-width: 1050px) { .p-left-1__l { padding-left: 0.5rem !important; }
	.p-left-2__l { padding-left: 1rem !important; }
	.p-left-3__l { padding-left: 1.5rem !important; }
	.p-left-4__l { padding-left: 2rem !important; }
	.p-left-5__l { padding-left: 2.5rem !important; }
	.p-left-6__l { padding-left: 3rem !important; }
	.p-left-7__l { padding-left: 3.5rem !important; }
	.p-left-8__l { padding-left: 4rem !important; }
	.p-left-9__l { padding-left: 4.5rem !important; }
	.p-left-10__l { padding-left: 5rem !important; }
	.p-left-11__l { padding-left: 5.5rem !important; }
	.p-left-12__l { padding-left: 6rem !important; }
	.p-left-13__l { padding-left: 6.5rem !important; }
	.p-left-14__l { padding-left: 7rem !important; }
	.p-left-15__l { padding-left: 7.5rem !important; }
	.p-left-16__l { padding-left: 8rem !important; }
	.p-left-0__l { padding-left: 0 !important; }
	.p-left-half__l { padding-left: 0.25rem !important; }
	.p-left-auto__l { padding-left: auto !important; } }

.m-x-0 { margin-left: 0 !important; margin-right: 0 !important; }
.m-x-half { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
.m-x-auto { margin-left: auto !important; margin-right: auto !important; }
.m-x-1 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.m-x-2 { margin-left: 1rem !important; margin-right: 1rem !important; }
.m-x-3 { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.m-x-4 { margin-left: 2rem !important; margin-right: 2rem !important; }
.m-x-5 { margin-left: 2.5rem !important; margin-right: 2.5rem !important; }
.m-x-6 { margin-left: 3rem !important; margin-right: 3rem !important; }
.m-x-7 { margin-left: 3.5rem !important; margin-right: 3.5rem !important; }
.m-x-8 { margin-left: 4rem !important; margin-right: 4rem !important; }
.m-x-9 { margin-left: 4.5rem !important; margin-right: 4.5rem !important; }
.m-x-10 { margin-left: 5rem !important; margin-right: 5rem !important; }
.m-x-11 { margin-left: 5.5rem !important; margin-right: 5.5rem !important; }
.m-x-12 { margin-left: 6rem !important; margin-right: 6rem !important; }
.m-x-13 { margin-left: 6.5rem !important; margin-right: 6.5rem !important; }
.m-x-14 { margin-left: 7rem !important; margin-right: 7rem !important; }
.m-x-15 { margin-left: 7.5rem !important; margin-right: 7.5rem !important; }
.m-x-16 { margin-left: 8rem !important; margin-right: 8rem !important; }

@media screen and (min-width: 750px) { .m-x-1__m { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
	.m-x-2__m { margin-left: 1rem !important; margin-right: 1rem !important; }
	.m-x-3__m { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
	.m-x-4__m { margin-left: 2rem !important; margin-right: 2rem !important; }
	.m-x-5__m { margin-left: 2.5rem !important; margin-right: 2.5rem !important; }
	.m-x-6__m { margin-left: 3rem !important; margin-right: 3rem !important; }
	.m-x-7__m { margin-left: 3.5rem !important; margin-right: 3.5rem !important; }
	.m-x-8__m { margin-left: 4rem !important; margin-right: 4rem !important; }
	.m-x-9__m { margin-left: 4.5rem !important; margin-right: 4.5rem !important; }
	.m-x-10__m { margin-left: 5rem !important; margin-right: 5rem !important; }
	.m-x-11__m { margin-left: 5.5rem !important; margin-right: 5.5rem !important; }
	.m-x-12__m { margin-left: 6rem !important; margin-right: 6rem !important; }
	.m-x-13__m { margin-left: 6.5rem !important; margin-right: 6.5rem !important; }
	.m-x-14__m { margin-left: 7rem !important; margin-right: 7rem !important; }
	.m-x-15__m { margin-left: 7.5rem !important; margin-right: 7.5rem !important; }
	.m-x-16__m { margin-left: 8rem !important; margin-right: 8rem !important; }
	.m-x-0__m { margin-left: 0 !important; margin-right: 0 !important; }
	.m-x-half__m { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
	.m-x-auto__m { margin-left: auto !important; margin-right: auto !important; } }

@media screen and (min-width: 1050px) { .m-x-1__l { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
	.m-x-2__l { margin-left: 1rem !important; margin-right: 1rem !important; }
	.m-x-3__l { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
	.m-x-4__l { margin-left: 2rem !important; margin-right: 2rem !important; }
	.m-x-5__l { margin-left: 2.5rem !important; margin-right: 2.5rem !important; }
	.m-x-6__l { margin-left: 3rem !important; margin-right: 3rem !important; }
	.m-x-7__l { margin-left: 3.5rem !important; margin-right: 3.5rem !important; }
	.m-x-8__l { margin-left: 4rem !important; margin-right: 4rem !important; }
	.m-x-9__l { margin-left: 4.5rem !important; margin-right: 4.5rem !important; }
	.m-x-10__l { margin-left: 5rem !important; margin-right: 5rem !important; }
	.m-x-11__l { margin-left: 5.5rem !important; margin-right: 5.5rem !important; }
	.m-x-12__l { margin-left: 6rem !important; margin-right: 6rem !important; }
	.m-x-13__l { margin-left: 6.5rem !important; margin-right: 6.5rem !important; }
	.m-x-14__l { margin-left: 7rem !important; margin-right: 7rem !important; }
	.m-x-15__l { margin-left: 7.5rem !important; margin-right: 7.5rem !important; }
	.m-x-16__l { margin-left: 8rem !important; margin-right: 8rem !important; }
	.m-x-0__l { margin-left: 0 !important; margin-right: 0 !important; }
	.m-x-half__l { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
	.m-x-auto__l { margin-left: auto !important; margin-right: auto !important; } }

.p-x-0 { padding-left: 0 !important; padding-right: 0 !important; }
.p-x-half { padding-left: 0.25rem !important; padding-right: 0.25rem !important; }
.p-x-auto { padding-left: auto !important; padding-right: auto !important; }
.p-x-1 { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.p-x-2 { padding-left: 1rem !important; padding-right: 1rem !important; }
.p-x-3 { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.p-x-4 { padding-left: 2rem !important; padding-right: 2rem !important; }
.p-x-5 { padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
.p-x-6 { padding-left: 3rem !important; padding-right: 3rem !important; }
.p-x-7 { padding-left: 3.5rem !important; padding-right: 3.5rem !important; }
.p-x-8 { padding-left: 4rem !important; padding-right: 4rem !important; }
.p-x-9 { padding-left: 4.5rem !important; padding-right: 4.5rem !important; }
.p-x-10 { padding-left: 5rem !important; padding-right: 5rem !important; }
.p-x-11 { padding-left: 5.5rem !important; padding-right: 5.5rem !important; }
.p-x-12 { padding-left: 6rem !important; padding-right: 6rem !important; }
.p-x-13 { padding-left: 6.5rem !important; padding-right: 6.5rem !important; }
.p-x-14 { padding-left: 7rem !important; padding-right: 7rem !important; }
.p-x-15 { padding-left: 7.5rem !important; padding-right: 7.5rem !important; }
.p-x-16 { padding-left: 8rem !important; padding-right: 8rem !important; }

@media screen and (min-width: 750px) { .p-x-1__m { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
	.p-x-2__m { padding-left: 1rem !important; padding-right: 1rem !important; }
	.p-x-3__m { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
	.p-x-4__m { padding-left: 2rem !important; padding-right: 2rem !important; }
	.p-x-5__m { padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
	.p-x-6__m { padding-left: 3rem !important; padding-right: 3rem !important; }
	.p-x-7__m { padding-left: 3.5rem !important; padding-right: 3.5rem !important; }
	.p-x-8__m { padding-left: 4rem !important; padding-right: 4rem !important; }
	.p-x-9__m { padding-left: 4.5rem !important; padding-right: 4.5rem !important; }
	.p-x-10__m { padding-left: 5rem !important; padding-right: 5rem !important; }
	.p-x-11__m { padding-left: 5.5rem !important; padding-right: 5.5rem !important; }
	.p-x-12__m { padding-left: 6rem !important; padding-right: 6rem !important; }
	.p-x-13__m { padding-left: 6.5rem !important; padding-right: 6.5rem !important; }
	.p-x-14__m { padding-left: 7rem !important; padding-right: 7rem !important; }
	.p-x-15__m { padding-left: 7.5rem !important; padding-right: 7.5rem !important; }
	.p-x-16__m { padding-left: 8rem !important; padding-right: 8rem !important; }
	.p-x-0__m { padding-left: 0 !important; padding-right: 0 !important; }
	.p-x-half__m { padding-left: 0.25rem !important; padding-right: 0.25rem !important; }
	.p-x-auto__m { padding-left: auto !important; padding-right: auto !important; } }

@media screen and (min-width: 1050px) { .p-x-1__l { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
	.p-x-2__l { padding-left: 1rem !important; padding-right: 1rem !important; }
	.p-x-3__l { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
	.p-x-4__l { padding-left: 2rem !important; padding-right: 2rem !important; }
	.p-x-5__l { padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
	.p-x-6__l { padding-left: 3rem !important; padding-right: 3rem !important; }
	.p-x-7__l { padding-left: 3.5rem !important; padding-right: 3.5rem !important; }
	.p-x-8__l { padding-left: 4rem !important; padding-right: 4rem !important; }
	.p-x-9__l { padding-left: 4.5rem !important; padding-right: 4.5rem !important; }
	.p-x-10__l { padding-left: 5rem !important; padding-right: 5rem !important; }
	.p-x-11__l { padding-left: 5.5rem !important; padding-right: 5.5rem !important; }
	.p-x-12__l { padding-left: 6rem !important; padding-right: 6rem !important; }
	.p-x-13__l { padding-left: 6.5rem !important; padding-right: 6.5rem !important; }
	.p-x-14__l { padding-left: 7rem !important; padding-right: 7rem !important; }
	.p-x-15__l { padding-left: 7.5rem !important; padding-right: 7.5rem !important; }
	.p-x-16__l { padding-left: 8rem !important; padding-right: 8rem !important; }
	.p-x-0__l { padding-left: 0 !important; padding-right: 0 !important; }
	.p-x-half__l { padding-left: 0.25rem !important; padding-right: 0.25rem !important; }
	.p-x-auto__l { padding-left: auto !important; padding-right: auto !important; } }

.m-y-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.m-y-half { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
.m-y-auto { margin-top: auto !important; margin-bottom: auto !important; }
.m-y-1 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.m-y-2 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.m-y-3 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.m-y-4 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
.m-y-5 { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important; }
.m-y-6 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.m-y-7 { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; }
.m-y-8 { margin-top: 4rem !important; margin-bottom: 4rem !important; }
.m-y-9 { margin-top: 4.5rem !important; margin-bottom: 4.5rem !important; }
.m-y-10 { margin-top: 5rem !important; margin-bottom: 5rem !important; }
.m-y-11 { margin-top: 5.5rem !important; margin-bottom: 5.5rem !important; }
.m-y-12 { margin-top: 6rem !important; margin-bottom: 6rem !important; }
.m-y-13 { margin-top: 6.5rem !important; margin-bottom: 6.5rem !important; }
.m-y-14 { margin-top: 7rem !important; margin-bottom: 7rem !important; }
.m-y-15 { margin-top: 7.5rem !important; margin-bottom: 7.5rem !important; }
.m-y-16 { margin-top: 8rem !important; margin-bottom: 8rem !important; }

@media screen and (min-width: 750px) { .m-y-1__m { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
	.m-y-2__m { margin-top: 1rem !important; margin-bottom: 1rem !important; }
	.m-y-3__m { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
	.m-y-4__m { margin-top: 2rem !important; margin-bottom: 2rem !important; }
	.m-y-5__m { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important; }
	.m-y-6__m { margin-top: 3rem !important; margin-bottom: 3rem !important; }
	.m-y-7__m { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; }
	.m-y-8__m { margin-top: 4rem !important; margin-bottom: 4rem !important; }
	.m-y-9__m { margin-top: 4.5rem !important; margin-bottom: 4.5rem !important; }
	.m-y-10__m { margin-top: 5rem !important; margin-bottom: 5rem !important; }
	.m-y-11__m { margin-top: 5.5rem !important; margin-bottom: 5.5rem !important; }
	.m-y-12__m { margin-top: 6rem !important; margin-bottom: 6rem !important; }
	.m-y-13__m { margin-top: 6.5rem !important; margin-bottom: 6.5rem !important; }
	.m-y-14__m { margin-top: 7rem !important; margin-bottom: 7rem !important; }
	.m-y-15__m { margin-top: 7.5rem !important; margin-bottom: 7.5rem !important; }
	.m-y-16__m { margin-top: 8rem !important; margin-bottom: 8rem !important; }
	.m-y-0__m { margin-top: 0 !important; margin-bottom: 0 !important; }
	.m-y-half__m { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
	.m-y-auto__m { margin-top: auto !important; margin-bottom: auto !important; } }

@media screen and (min-width: 1050px) { .m-y-1__l { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
	.m-y-2__l { margin-top: 1rem !important; margin-bottom: 1rem !important; }
	.m-y-3__l { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
	.m-y-4__l { margin-top: 2rem !important; margin-bottom: 2rem !important; }
	.m-y-5__l { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important; }
	.m-y-6__l { margin-top: 3rem !important; margin-bottom: 3rem !important; }
	.m-y-7__l { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; }
	.m-y-8__l { margin-top: 4rem !important; margin-bottom: 4rem !important; }
	.m-y-9__l { margin-top: 4.5rem !important; margin-bottom: 4.5rem !important; }
	.m-y-10__l { margin-top: 5rem !important; margin-bottom: 5rem !important; }
	.m-y-11__l { margin-top: 5.5rem !important; margin-bottom: 5.5rem !important; }
	.m-y-12__l { margin-top: 6rem !important; margin-bottom: 6rem !important; }
	.m-y-13__l { margin-top: 6.5rem !important; margin-bottom: 6.5rem !important; }
	.m-y-14__l { margin-top: 7rem !important; margin-bottom: 7rem !important; }
	.m-y-15__l { margin-top: 7.5rem !important; margin-bottom: 7.5rem !important; }
	.m-y-16__l { margin-top: 8rem !important; margin-bottom: 8rem !important; }
	.m-y-0__l { margin-top: 0 !important; margin-bottom: 0 !important; }
	.m-y-half__l { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
	.m-y-auto__l { margin-top: auto !important; margin-bottom: auto !important; } }

.p-y-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.p-y-half { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
.p-y-auto { padding-top: auto !important; padding-bottom: auto !important; }
.p-y-1 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.p-y-2 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.p-y-3 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.p-y-4 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
.p-y-5 { padding-top: 2.5rem !important; padding-bottom: 2.5rem !important; }
.p-y-6 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.p-y-7 { padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; }
.p-y-8 { padding-top: 4rem !important; padding-bottom: 4rem !important; }
.p-y-9 { padding-top: 4.5rem !important; padding-bottom: 4.5rem !important; }
.p-y-10 { padding-top: 5rem !important; padding-bottom: 5rem !important; }
.p-y-11 { padding-top: 5.5rem !important; padding-bottom: 5.5rem !important; }
.p-y-12 { padding-top: 6rem !important; padding-bottom: 6rem !important; }
.p-y-13 { padding-top: 6.5rem !important; padding-bottom: 6.5rem !important; }
.p-y-14 { padding-top: 7rem !important; padding-bottom: 7rem !important; }
.p-y-15 { padding-top: 7.5rem !important; padding-bottom: 7.5rem !important; }
.p-y-16 { padding-top: 8rem !important; padding-bottom: 8rem !important; }

@media screen and (min-width: 750px) { .p-y-1__m { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
	.p-y-2__m { padding-top: 1rem !important; padding-bottom: 1rem !important; }
	.p-y-3__m { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
	.p-y-4__m { padding-top: 2rem !important; padding-bottom: 2rem !important; }
	.p-y-5__m { padding-top: 2.5rem !important; padding-bottom: 2.5rem !important; }
	.p-y-6__m { padding-top: 3rem !important; padding-bottom: 3rem !important; }
	.p-y-7__m { padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; }
	.p-y-8__m { padding-top: 4rem !important; padding-bottom: 4rem !important; }
	.p-y-9__m { padding-top: 4.5rem !important; padding-bottom: 4.5rem !important; }
	.p-y-10__m { padding-top: 5rem !important; padding-bottom: 5rem !important; }
	.p-y-11__m { padding-top: 5.5rem !important; padding-bottom: 5.5rem !important; }
	.p-y-12__m { padding-top: 6rem !important; padding-bottom: 6rem !important; }
	.p-y-13__m { padding-top: 6.5rem !important; padding-bottom: 6.5rem !important; }
	.p-y-14__m { padding-top: 7rem !important; padding-bottom: 7rem !important; }
	.p-y-15__m { padding-top: 7.5rem !important; padding-bottom: 7.5rem !important; }
	.p-y-16__m { padding-top: 8rem !important; padding-bottom: 8rem !important; }
	.p-y-0__m { padding-top: 0 !important; padding-bottom: 0 !important; }
	.p-y-half__m { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
	.p-y-auto__m { padding-top: auto !important; padding-bottom: auto !important; } }

@media screen and (min-width: 1050px) { .p-y-1__l { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
	.p-y-2__l { padding-top: 1rem !important; padding-bottom: 1rem !important; }
	.p-y-3__l { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
	.p-y-4__l { padding-top: 2rem !important; padding-bottom: 2rem !important; }
	.p-y-5__l { padding-top: 2.5rem !important; padding-bottom: 2.5rem !important; }
	.p-y-6__l { padding-top: 3rem !important; padding-bottom: 3rem !important; }
	.p-y-7__l { padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; }
	.p-y-8__l { padding-top: 4rem !important; padding-bottom: 4rem !important; }
	.p-y-9__l { padding-top: 4.5rem !important; padding-bottom: 4.5rem !important; }
	.p-y-10__l { padding-top: 5rem !important; padding-bottom: 5rem !important; }
	.p-y-11__l { padding-top: 5.5rem !important; padding-bottom: 5.5rem !important; }
	.p-y-12__l { padding-top: 6rem !important; padding-bottom: 6rem !important; }
	.p-y-13__l { padding-top: 6.5rem !important; padding-bottom: 6.5rem !important; }
	.p-y-14__l { padding-top: 7rem !important; padding-bottom: 7rem !important; }
	.p-y-15__l { padding-top: 7.5rem !important; padding-bottom: 7.5rem !important; }
	.p-y-16__l { padding-top: 8rem !important; padding-bottom: 8rem !important; }
	.p-y-0__l { padding-top: 0 !important; padding-bottom: 0 !important; }
	.p-y-half__l { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
	.p-y-auto__l { padding-top: auto !important; padding-bottom: auto !important; } }
