body {
	background: $white;
	-webkit-font-smoothing: antialiased; // autoprefixer does not incl. font-smoothing
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga", "dlig";
	color: $gray-4;
	font-family: $t-body;
	font-size: $t-1; //16px
	line-height: 1.4;
}

h1, h2, h3, h4 {
	font-family: $t-heading;
	font-weight: $t-medium;
}

h1 {
	font-size: $t-5;
	margin-bottom: 2rem;
}

h2 {
	font-size: $t-4;
	margin-bottom: 1.5rem;
}

h3 {
	font-size: $t-3;
	margin-bottom: 1.5rem;
}

h4 {
	font-size: $t-2;
	margin-bottom: 1rem;
}

a {
	color: $blue-3;
	text-decoration: none;

	&:hover, &.is-open {
		text-decoration: underline;
	}

	&.is-disabled {
		pointer-events: none;
		opacity: .3;
	}
}

small {
	font-size: $t-0;
}

strong {
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

p, section {
	margin-bottom: 1rem;
}

hr {
	margin: 2rem 0;
	border: none;
	border-bottom: 1px solid $gray-2;
}

code {
	padding: 0.4375rem;
	font-size: $t-1;
	line-height: 1;
	display: inline-block;
	border: 1px solid $gray-2;
	border-radius: 3px;
	background: $gray-5;
	color: $white;
	font-family: monospace;
}

a[disabled] {
	pointer-events: none;
}
